*{margin: 0 ;
    padding: 0;

}
.container{
    background-color: azure;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont{
    width: 50%;
    height: 90vh;
    background: linear-gradient(to bottom, #0066ff 28%, #ffffff 100%);
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 5px 5px 3px gray;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.cont h1{
    font-family: 'Vollkorn SC', serif;
    text-align: center;
    font-size: 3rem;
    position:fixed;
    top: 1.5rem;
}
.search{
    width: 80%;
    height: 30vh;
    background-color: #ffffff;
}